

  @media only screen and (max-width: 600px) {
    img {
      width: 100%;
      height: auto;
      
    }
}
@media only screen and (min-width: 576px) {
  img {
    width: 100%;
    height: auto;
  }
  }
  img:hover {
    transform: scaleX(-1);
  }
.column {
  float: left;
  width: 33.33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  body {
    background-color: orange;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 25px;
  }
 

  

  